.btn_radius{
    @apply rounded-full
}

.btn_padding{
    @apply xl:px-5 xl:py-6;
}

.btn_bg_whiteSilver{
    @apply bg-customWhite text-fontBlack;
}
.btn_bg_blue{
    @apply bg-primaryColor text-customWhite;
}

.btn_bg_white{
    @apply border border-borderDark text-fontBlack bg-white 
}